@font-face {
  font-family: "Karla-regular";
  src: url("./Fonts/Karla-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Karla-bold";
  src: url("./Fonts/Karla-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

:root {
  font-family: "Karla-regular";
  display: flex;
  justify-content: center;
  background-color: #1c1c1c;
}
